src/main/resources/schematrons/conf-qrdoc-sch-dk.xml

<?xml version="1.0" encoding="utf-8" ?>
<sch:schema xmlns="http://purl.oclc.org/dsdl/schematron"
	xmlns:sch="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2"
	schemaVersion="ISO19757-3">
	<sch:ns prefix="v3" uri="urn:hl7-org:v3" />
	<sch:ns prefix="sdtc" uri="urn:hl7-org:sdtc" />
	<sch:pattern name="CONF-QRDOC">
		<!-- CONF-DK-11 -->
		<!-- CONF-DK-12 -->
		<!-- Rules are conflicting, but choose the one from CONF-DK-12 -->
		<sch:rule id="CONF-QRDOC-DK-1,CONF-QRDOC-DK-2" context="v3:ClinicalDocument">
			<sch:assert flag="error" test="count(v3:templateId[@root='1.2.208.184.13.1'])=1">
				Document SHALL contain exactly one [1..1] header-level templateId
				such that the templateId contains exactly one [1..1] @root=”1.2.208.184.13.1”
			</sch:assert>
		</sch:rule>
		         
		<sch:rule id="CONF-QRDOC-DK-3" context="v3:ClinicalDocument">
			<sch:assert flag="error" test="count(v3:code[@codeSystemName='LOINC' and @displayName='Questionnaire Response Document'])=1">
				Document SHALL contain exactly one [1..1] header-level code.
				
				This code SHALL specify the Questionnaire Response Document generated by patient in response
		        to a Questionnaire Form Definition document containing a specific measure.
		        
		        The document code SHALL be a code from the LOINC Document Ontology which indicates 
				a Questionnaire Response document containing responses to questions asked from the patient.
			</sch:assert>
		</sch:rule>
		
		<sch:rule id="CONF-QRDOC-DK-4" context="v3:ClinicalDocument">
			<sch:assert flag="error" test="count(v3:confidentialityCode)=1 and v3:confidentialityCode[@code='N']">
				SHALL contain exactly one [1..1] confidentialityCode, which
				SHALL be selected from ValueSet HL7 BasicConfidentialityKind 2.16.840.1.113883.1.11.16926 STATIC.
				This code SHALL always be set to “N”.
			</sch:assert>
		</sch:rule>
		
		<sch:rule id="CONF-QRDOC-DK-5" context="v3:ClinicalDocument/v3:recordTarget/v3:patientRole">
			<sch:assert flag="error" test="count(v3:id)=1">
				patientRole SHALL contain exactly one [1..1] id.
			</sch:assert>
		</sch:rule>
		
		<sch:rule id="CONF-QRDOC-DK-6" context="v3:ClinicalDocument/v3:recordTarget/v3:patientRole/v3:patient/v3:birthTime/@value">
			<sch:let name="year" value="number(substring(.,1,2))"/>
    		<sch:let name="monthOfYear" value="number(substring(.,5,2))"/>
    		<sch:let name="dayOfMonth" value="number(substring(.,7,2))"/>
		
			<sch:assert flag="error" test="$monthOfYear>0">
				patientRole SHALL contain exactly one [1..1] patient, where birthTime SHALL be precise to month
			</sch:assert>
		</sch:rule>
		
		<sch:rule id="CONF-QRDOC-DK-7" context="v3:ClinicalDocument/v3:recordTarget/v3:patientRole/v3:patient/v3:birthTime/@value">
			<sch:let name="year" value="number(substring(.,1,2))"/>
    		<sch:let name="monthOfYear" value="number(substring(.,5,2))"/>
    		<sch:let name="dayOfMonth" value="number(substring(.,7,2))"/>
				
			<sch:assert flag="error" test="$dayOfMonth>0">
				patientRole SHALL contain exactly one [1..1] patient, where birthTime SHALL be precise to day
			</sch:assert>
		</sch:rule>
		
		<sch:rule id="CONF-QRDOC-DK-8" context="v3:ClinicalDocument/v3:recordTarget/v3:patientRole/v3:patient/v3:birthTime/@value">
			<sch:let name="year" value="number(substring(.,1,2))"/>
    		<sch:let name="monthOfYear" value="number(substring(.,5,2))"/>
    		<sch:let name="dayOfMonth" value="number(substring(.,7,2))"/>
    		<sch:let name="time" value="substring(.,9,11)"/>
				
			<sch:assert flag="error" test="$time='000000+0000'">
				patientRole SHALL contain exactly one [1..1] patient, where birthTime hhMMSS and offset from UTC SHALL be set to “000000+0000”.
			</sch:assert>
		</sch:rule>

		<sch:rule id="CONF-QRDOC-DK-9" context="v3:ClinicalDocument/v3:author">
			<sch:assert flag="error" test="count(v3:assignedAuthor)=1">
				There SHALL be exactly one assignedAuthor/assignedPerson.
			</sch:assert>
		</sch:rule>
		
		<sch:rule id="CONF-QRDOC-DK-10" context="v3:ClinicalDocument/v3:author/v3:assignedAuthor">
			<sch:assert flag="error" test="(v3:representedOrganization and not(v3:assignedPerson) and v3:id[@nullFlavor='NA']) or 
										   (v3:assignedPerson and v3:representedOrganization) or
										   (v3:assignedPerson and not(v3:representedOrganization)) or
										   (not(v3:assignedPerson) and not(v3:representedOrganization))">
				If assignedAuthor has an associated representedOrganization and no assignedPerson, 
				then the value for "ClinicalDocument/author/assignedAuthor/id/@NullFlavor" SHALL be 
				"NA" "Not applicable" 2.16.840.1.113883.5.1008 NullFlavor STATIC.
			</sch:assert>
		</sch:rule>	
		
		<sch:rule id="CONF-QRDOC-DK-12" context="v3:ClinicalDocument">
			<sch:assert flag="warning" test="count(v3:templateId[@root='1.2.208.184.13.1.1.1'])=1">
				Patient generated Questionnaire Response Document in DK Realm 
				SHOULD conform to the DK Realm Generated Document Header
				template (templateId: 1.2.208.184.13.1.1.1).
			</sch:assert>
		</sch:rule>
	</sch:pattern>
</sch:schema> 
